@use '../../app/mixins' as *;

.container {
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;

  &:hover .portrait-container{
    filter: brightness(0.8);
    background: 
      linear-gradient(black, black) content-box,
      linear-gradient(-45deg, red, blue) border-box
    ;
  }
}

.portrait-container {
  width: 200px;
  height: 100px;
  position: relative;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  background: 
    linear-gradient(black, black) content-box,
    linear-gradient(#A89E94, #7A7768) border-box,
  ;
  transition: .1s linear all;
  overflow: hidden;

  .portrait {
    width: 100%;
    height: auto;
    object-position: 0 -5rem;
  }
}

.info-container {
  position: relative;
  
  .name {
    @include stroke(#000, 1.5px);

    position: absolute;
    top: -0.75em;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    z-index: 1;

    &::before {
      @include stroke(transparent, 1.5px);

      content: attr(data-name);
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(#E7CB50, #FFFFF3) text;
    }
  }

  .hp-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    width: 100%;
    margin-top: 4px;

    progress {
      grid-column: span 2;
    }
    
    ::-moz-progress-bar, ::-webkit-progress-value {
      background: linear-gradient(#ECF8B0, #90B20C, #C9E187);
    }
    
    progress[value] {
      height: 1rem;
      border: 1px solid black;
      border-radius: 0.25rem;
    }

    label, p {
      @include stroke(#000, 1px);

      padding-inline: 0.5rem;
    }

    p {
      justify-self: end;
    }
  }

  progress[value] {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 0.75rem;
  }
}
