@use '../../mixins' as *;

.info-container {
  width: 300px;
  margin-top: 2rem;
  position: relative;

  .daytime-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #E8CC70;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    inset: 50% auto auto 1rem;
    transform: translateY(calc(-50% + 0.25rem));
    overflow: hidden;
    z-index: 1;
    
    &:hover .daytime-icon {
      transform: translateY(100%);
    }

    .daytime-icon {
      width: 100%;
      height: 100%;
      padding: 0.25rem;
      fill: #E8CC70;
      transition: .2s linear transform;
    }
  }

  h3, p {
    @include stroke(#131313, 1px);

    text-align: right;
    margin-right: 3rem;
    font-family: inherit;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  hr {
    height: 4px;
    background-color: #E8CC70;
    border: none;
    position: relative;
    overflow: visible;

    &::before {
      content: "";
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      position: absolute;
      top: 0;
      right: -2px;
      transform: translateY(-0.4em);
      background-color: #E8CC70;
    }
  }
}

.actions-container {
  position: absolute;
  inset: auto auto 2rem 2rem;

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 2.5rem;


    p {
      @include stroke(#000, 1px);

      flex: 1;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0.75em;
      margin-left: 0.5rem;
      font-size: 1.125rem;
      white-space: preserve nowrap;
      background: linear-gradient(to right, #000, rgba(0, 0, 0, 0.2));
    }

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    &:hover, &:focus {
      filter: brightness(0.8);
    }
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid #E8CC70;
    padding: 0.25rem;
    background-color: black;

    svg {
      fill: #E8CC70;
      width: 100%;
      height: 100%;
    }
  }
}

.nav-container {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 1rem 1rem auto auto;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    margin-left: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover, &:focus {
      filter: brightness(0.9);
    }
  }

  svg.nav-icon {
    fill: #E8CC70;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.party-container {
  display: flex;
  flex-direction: column-reverse;
  inset: auto 2rem 2rem auto;
  position: absolute;

  li {
    width: 150px;
    height: 75px;
    background-color: antiquewhite;
    margin-top: 1rem;
    position: relative;

    svg.chat-icon {
      position: absolute;
      width: 3rem;
      height: 3rem;
      stroke: #433F22;
      fill: #C9C5A0;
      top: 50%;
      left: -40%;
      transform: translateY(-50%);
      cursor: pointer;

      &:hover, &:focus {
        filter: brightness(0.9);
      }
    }

    img.portrait {
      object-fit: cover;
      object-position: 50% 20%;
      outline: 2px solid #E8CC70;
      outline-offset: 2px;
      cursor: pointer;
      
      &:hover, &:focus {
        filter: brightness(0.9);
      }
    }
  }
}