@use '../../mixins' as *;

@keyframes example {
  from {
    bottom: 0;
  }

  to {
    bottom: 1rem;
  }
}

.container {
  width: 250px;
  height: 300px;  
  border: solid 0.25rem transparent;
  border-radius: 0.75rem;
  position: relative;
  color: black;
  overflow: hidden;

  background: 
    // linear-gradient(#123, #321) content-box,
    linear-gradient(#222, #222) padding-box,
    linear-gradient(to bottom, #F3DE98, #B0733A) border-box;

  *:not(.portrait) {
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent, transparent, 70%, black);
  }
  
  &.selected {
    animation: example .2s;
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom right, blue, red) border-box;
    bottom: 1rem;

    
    &::after {
      background-image: none;
    }
  }
}

.portrait {
  position: absolute;
  top: -35%;
  left: -45%;
  width: 400px;
  height: auto;
}

.hp-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  width: 100%;
  position: relative;
  top: 100px;
  padding: 0.25rem;
  margin-top: 4px;

  progress, progress[value] {
    -webkit-appearance: none;
    appearance: none;
  }

  progress {
    grid-column: span 2;
  }

  ::-moz-progress-bar, ::-webkit-progress-value {
    background: linear-gradient(#ECF8B0, #90B20C, #C9E187);
  }
 
  progress[value] {
    height: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
  }

  label, p {
    @include stroke(#000, 1px);

    padding-inline: 0.5rem;
  }

  p {
    justify-self: end;
  }
}


.hp, .hp-amount {
  @include stroke(#000, 1.5px);
  
  position: absolute;
  padding-inline: 0.5rem;
  color: white;
  font-weight: bold;

  &::before {
    @include stroke(transparent, 1.5px);

    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#E7CB50, 25%, #FFFFF3) text;
  }
}

.hp{
  font-size: 1.5rem;
  bottom: calc(150% - 1em);

  &::before {
    content: "HP";
  }
}

.hp-amount{
  font-size: 2.5rem;
  bottom: calc(200% - 1em);
  right: 0;

  &::before {
    content: attr(data-value);
  }
}
